:root {
    --primary-color: #BD632F;
    --secondary-color: #D8973C;
    --neutral-color: #D8C99B;
    --neutral-dark: #273E47;
    --accent-color: #A4243B;
}

.container {
    background-color: rgb(1, 2, 7);
    height: 200px;

}

h1, h2 {
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--neutral-color);
    font-size: 25px;
    
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* img{
    width: 2381px;
    height: 700px;
} */

nav {
    background-color: #000000;
    height: 100px;
}


body {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top center;
background-size: 100%;
}

.back{
    background-color: #A4243B;
}
