:root {
    --primary-color: #BD632F;
    --secondary-color: #D8973C;
    --neutral-color: #D8C99B;
    --neutral-dark: #273E47;
    --accent-color: #A4243B;
}

.container {
    background-color: var(--neutral-dark);
}

h1, h2 {
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--neutral-color);
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* img{
    width: 2381px;
    height: 700px;
} */

nav {
    background-color: #c2ab7f;
    height: 100px;
}

p {
    font-size: 30px;
}

body {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 2381px 700px;
}

.back{
    background-color: #A4243B;
}